*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Righteous', cursive;
    scroll-behavior: smooth;
    scroll-padding-top: 10%;
    overflow-y: visible;

}
@keyframes textoDigitando{
    0% {
      width: 0%;
    }
    100% {
      width: 73%;
    }
    
  }
@keyframes go {
    to{
        transform: translateY(0px);
    } from{
        transform: translateY(20px);
    }
}
@keyframes digitando {
    0%{
     border-color: #00b5cd00;    
    }
    100%{
     border-color: #00B6CD;
    }
     
 }
@keyframes boxColor{

    0%{
        width:100%;
    }
    50%{
        width: 100%;
    }
    100%{
        width: 0%;
    }

}

img{
    display: flex;
    width: 50%;
}

i{
    background-image: linear-gradient(to bottom, #00B6CD, #9EE000);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
p{
    text-align: justify;
    font-family: 'Rajdhani', sans-serif;
    margin-bottom: 3%;
    font-size: 20px;
    
}
span{
    font-size: 70px;
    color: #9EE000;
}
h1{
    font-size: 70px;
    overflow: hidden;
    white-space: nowrap;
    animation: textoDigitando 2s normal steps(20), digitando 800ms infinite normal;
    color: #9EE000;
    margin-bottom: 3%;
    border-right:5px solid #00B6CD;
}
.boxAnimation{
    position: absolute;
    height: 100%;
    background-color: #000000;
    animation: boxColor 4s normal;
}
h2{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 20px;
    position: relative;
    font-size: 20px;
    color: #00B6CD;
}
h3{
    color: #00B6CD;
    margin: 7px;
}
a{
    text-decoration: none;
    font-family: 'Rajdhani', sans-serif;
    font-size: 100%;
}
ul{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
li{
    display: flex;
    align-items: center;
    font-family: 'Rajdhani', sans-serif;

}
body{
    display: grid;
    position: block;
    background-color: black;
    min-width: 320px;
    min-height: 570px;
    grid-template-columns: 1fr;
    grid-template-rows: 15vh minmax(85vh, auto) minmax(15vh, auto);
    grid-template-areas: 
    "header"
    "main"
    "footer";
}


header{
    grid-area: header;
    display: flex;
    position: fixed;
    z-index: 2;
    background-color: #00b5cd83;
    box-shadow: 0px 0px 20px 0px #00b5cd83;
    backdrop-filter: blur(4px);
    min-height: 15vh;
    height: 15vh;
    width: 100%;
    align-items: center;
}
#homeResponsive{
    display: none;
}
#menuResponsive{
    display: none;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.5);
    
}
#menuResponsive ul{
    display: none;
}
#IconMenuResponsive{
    
    display: none;
    height: 50px;
    width: 40px;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
}
.tab{
    display: flex;
    background-image: linear-gradient(to left, #00B6CD, #9EE000);
    width: 40px;
    height: 5px;
    transition: 1s;
    border-radius: 20px;

}
#IconMenuResponsive .tab{
    
    transition: 1s;
}




#logo{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #00B6CD, #9EE000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 10px;
}
#logo a{
    font-size: 90px;
    font-family: 'Righteous', cursive;
    
}
header ul li a{
    border: 4px solid #00b5cd00;  
    transition: 1s  ;
}
header ul li a:hover{
    color: #9EE000;
    border-bottom-color: #00B6CD;
    transform: scale(1.3);
    transition: 1s;
}


main{
    grid-area: main;
    width: 100%;
}
#home{
    display: flex;
    min-height: 75vh;
    align-items: center;
    justify-content: center;
}
.btnContato{
    width: 100%;
    display: flex;
    margin-top: 3%;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: space-evenly
}

.btnContato abbr{
    display: flex;
    flex-direction: column;
    border-bottom: 5px solid transparent;
    font-size: 100px;
    transition: 2s;
    text-decoration: none;
}
.btnContato abbr p{
    text-align: center;
    font-weight: bold;
    color: #00B6CD;
}
.btnContato abbr:hover{
    border-image: linear-gradient(to bottom, #00B6CD, #9EE000)1;
    transform: scale(1.3);
    transition: 2s;

}


#section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}
#section2{
    display: flex;
    justify-content: center;
}
.setaBaixo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}
.setaBaixo a{
    font-size: 70px;
    animation: go 1s infinite alternate;
}
.titulo{
    display: flex;
    flex-direction: column;
    color: #00B6CD;
    font-size: 70px;
    align-items: center;
    justify-content: center;
    height: 20vh;
}
.titulo::after{
    content: '';
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #9EE000, transparent);
}
.curriculo{
    display: flex;
    min-height: 80vh;
    align-items: center;
}
#self{
    border: 5px solid;
    border-image: linear-gradient(to top, #9EE000, #00B6CD)1;
}
.imgIcon{
    display: flex;
    justify-content: center;
    width: 40%;
    font-size: 300px;
}
.conteudo{
    display: flex;
    flex-direction: column;
    width: calc(100% - 40%);
    justify-content: center;
}
.conteudo ul{
    display: flex;
    flex-direction: column;
    list-style:none;
    text-align: justify;
    margin-bottom: 2%;
}
.conteudo ul li{
    font-family: 'Rajdhani', sans-serif;
    margin-bottom: 3%;
    font-size: 22px;
}
#icones{
    flex-direction:row;
    flex-wrap: wrap;
}
.conteudo > abbr> input{
    border: 0;
    width: 70px;
    margin: 15px;
    transition: 1s;
}
.conteudo > abbr > input:hover{
    transform: scale(1.3);
    transition: 1s;
}
#icontitulo{
    display: flex;
    color: #00B6CD;
    justify-items: center;
    margin-bottom: 10px;
}
.submenu{
    display: flex;
    width: 40%;
    margin: 5%;
    flex-direction: column;
    align-items: center;
}


footer{
    grid-area: footer;
    display: flex;
    width: 100%;
    margin-top: 30px;
    align-items: center;
    box-shadow: 0px 0px 20px 0px #00b5cd83;
    background-color: #00b5cd83;
}
footer ul{
    display: flex;
    width: 100%;
}
@media (max-width:1190px) {
span{
    font-size: 50px;
}
h1{
    font-size: 50px;
}  
h2 {
    font-size: 14px;
}  
p{
    font-size: 16px;
}
#logo a{
    font-size: 75px;
}
#setaBaixo a{
    font-size: 50px;

}
.titulo{
    font-size: 50px;
}
.imgIcon{
font-size: 200px;
}
.conteudo ul li{
font-size: 16px;
}
.conteudo > .icones > abbr> input{
width: 50px;
margin: 20px;
}
footer li{
    font-size: 11px;
}

}
@media (max-width:913px){

    #home{
        flex-direction: column-reverse;
    }
   
    #b1{
       grid-area: b1; 
    }
    #b2{
        grid-area: b2; 
     }

     #pdfCurriculo{
        grid-area: pdfCurriculo; 
     }
     #section1{
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;

     }
     .curriculo{
        flex-direction: column;
        min-height: 0px;
     }
    .imgIcon{
        margin: 4%;
        font-size: 150px;
    }
    .titulo{
        font-size: 30px;
    }
    
}
@media (max-width:854px){
    a{
        margin: 2%;

    }
    span{
        font-size: 37px;
    }
    h1{
        font-size: 37px;
    }
    h2{
        font-size: 10px;
    }
    header{
        justify-content: space-between;

    }
     #section2{
        display: none;
    }
    #homeResponsive{
        display: flex;
    }
    #IconMenuResponsive{
        display: flex;
        margin-right: 3%;
        font-size: 30px;
        cursor: pointer;

    }
    button{
        background: transparent;
        border: transparent;
    }
    #menuResponsive{
        display:  none;
        position:fixed;
        z-index: 1;
        width: 100%;
        margin-top: 15vh;
        height: 85vh;
    }
    @keyframes altura {

        0%{ 
            top: -100%; 
        }100%{ 
            top: 0px; 
                }
        
    }
    #menuResponsive ul{
        display: block;
        z-index: 0;
        position: absolute;
        background-color: #9EE000;
        box-shadow: 0px 3px 15px 0px #9EE000;
        
    }
    #menuResponsive ul li{
        justify-content: center;
    }
    #menuResponsive ul li a{
        font-weight: bold;
        color: black;
        border-bottom: 2px solid #00b5cd83;
        margin: 2%;
    }
    
    header ul{
        display: none;
       
    }
    
}